layout {
    pane split_direction="vertical" {
        pane edit="src/main.rs"
        pane command="pi" 
        pane command="bash" {
            args "-c" "moon run zellij-plugin-agent-threads:build"
        }
        pane {
            plugin location="file:target/wasm32-wasip1/release/zellij-plugin-agent-threads.wasm"
        }
    }
}
